*{
    box-sizing: border-box;
    }
    
    body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: 250px;
    color: rgb(114, 3, 3);
    background: white;
    }
    
    .wrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
    min-height: 100vh;
    display: inline-flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    }
    
    .container{
    position: relative;
    width: 100%;
    max-width: 600px;
    height: auto;
    display: flex;
    background: transparent;
    
    }
    
    
    
    .login .col-left,
    .login .col-right{
    padding: 30px;
    display: flex;
    }
    
    
    .login .col-left{
        width: 60%;
        clip-path: polygon(0 0, 0% 100%, 100% 0 );
        background: transparent;
        }
    
        .login .col-right{
        padding: 60px 30px;
        width: 50%;
        margin-left: -10%;
        }
        
        
        